<main class="main">
	<section>
		<h1 class="page__title">Редагування товару</h1>
		<div class="form">
			<form method="POST" action="/product-edit">
				<div class="form__title">Інформація про товар</div>
				<div class="form__content">
				{{#with data.product}}
					<div class="form__group group--3">
						<div class="form__field">
							<label for="name" class="form__label">Назва товару</label>
							<input type="name" value="{{name}}" name="name" class="form__input" >
						</div>
						<div class="form__field">
							<label for="price" class="form__label">Ціна</label>
							<input type="number" value="{{price}}" name="price" class="form__input">
						</div>
						<div class="form__field">
							<label for="id" class="form__label">ID</label>
							<input type="number" value="{{id}}" readonly name="id" class="form__input">
						</div>
					</div>
					<div class="form__field">
						<label for="description" class="form__label">Короткий опис товару</label>
						<input type="description" value="{{description}}" name="description" class="form__input input--big">
						<div class="form__caption">Відображається у картці товару</div>
					</div>
					<div class="form__group group--2">
						<button type ="submit" class="form__button button--primary">Зберегти оновлення</button>
						<a href="/product-delete?id={{id}}" class="form__button button--danger">Видалити товар</a>
					</div>
				{{/with}}
				</div>
			</form>
		</div>
	</section>

</main>
