{{#with data}}
	<div class="card">
		<div class="card__title">{{name}}</div>
		<div class="card__description">{{description}}</div>
		<div class="card__id">ID: {{id}}</div>
		<div class="card--block">
			<div class="card__price">{{price}} ₴</div>
			<a href="/product-edit?id={{id}}" class="card__link">Редагувати</a>
		</div>
	</div>
{{/with}}